body {
    margin: 0;
    overflow: hidden;
    background-color: #eee;
}

#canvas {
    position: fixed;
    image-rendering: pixelated;
    transform-origin: top left;
}

#info {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1.0em;
    font-family: monospace;
    width: 20.0em;
}

/* -------- PALETTE -------- */
#palette-container {
    position: fixed;
    bottom: 0.5em;
    width: 100%;
    display: flex;
}

#palette {
    margin: auto;
    border-radius: 8px;
    padding: 0.5em;
    background-color: rgba(0, 0, 0, 0.1);
}

#palette .cell {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    background-color: #ff0000;
    margin: 0 0.2em;
}

#palette .cell:first-child {
    margin-left: 0;
}

#palette .cell:last-child {
    margin-right: 0;
}

/* -------- TIMER -------- */
#timer {
    position: absolute;
    left: 50%;
    top: 1.0em;
    margin: 0 auto;
    transform: translate(-50%, -50%);
    width: 100px;
    background-color: rgba(0, 0, 0, 0.25);
}

#timer-bar {
    width: 0%;
    height: 20px;
    background-color: #1f87ff;
}

/* -------- CAPTCHA MODAL -------- */
.layer {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
}

#captcha-overlay {
    background-color: rgba(0, 0, 0, 0.5);
}

#captcha-modal {
    margin: auto;
    background-color: #ffffff;
    padding: 1.0em;
    border-radius: 5px;
    border: 1px solid #aaaaaa;
}

#error-text p {
    font: 72px sans-serif;
    color: #ff0000;
    margin: auto;
    text-align: center;
}